.container {
  min-height: 100vh;
  padding: 40px;

  background: linear-gradient(90deg, #6eda78, #ffa200);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 32px;
    font-weight: bold;
    min-width: 220px;
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.test-content {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.test-card {
  background: white;
  width: 300px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}

.test-topic {
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid gray;
}

.test-detail{
  padding: 16px;
}

.shape-btn {
  width: 400px;
  height: 170px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;

  border: none;
  box-shadow: none;

  &:hover {
    background-color: #ffa200 !important;
  }

  &:active {
    background-color: #6eda78 !important;
  }

  span {
    padding: 2px 10px;
    border-radius: 12px;
    color: white;
    font-size: 12px;
    background: #6eda78;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.shape-btn-lg {
  width: 550px;
}

.shape-btn-content {
  display: flex;
  flex-direction: row;
  gap: 150px;
}

.content-form {
  width: 1080px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 8px;
  padding: 24px;
  background: rgba(255,255,255,0.1);
}